/* header.css */
header {
    text-align: center;
    padding: 20px;
    /* Light gray background */
}

.headerText {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(210, 7%, 37%);
    /* Darker gray text */
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;

    /* Neumorphic Effect */
    text-shadow: 3px 3px 6px #b8b8b8,
        -3px -3px 6px #ffffff;
}